<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
				<div class="caption">
					<h5>
						John Doe The Great
					</h5>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
					</p>
					<p class="text-center">
						<a class="btn btn-xs btn-primary" href="#/trying">Message</a>
						<a class="btn btn-xs btn-default" href="#">View Profile</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img alt="Bootstrap Thumbnail Second" src="http://lorempixel.com/output/city-q-c-600-200-1.jpg" />
				<div class="caption">
					<h5>
						Frankenstein The IIIrd
					</h5>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
					</p>
					<p class="text-center">
						<a class="btn btn-xs btn-primary" href="#/chat">Message</a>
						<a class="btn btn-xs btn-default" href="#">View Profile</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img alt="Bootstrap Thumbnail Third" src="http://lorempixel.com/output/sports-q-c-600-200-1.jpg" />
				<div class="caption">
					<h5>
						Dora The Explorer
					</h5>
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam.
					</p>
					<p class="text-center">
						<a class="btn btn-xs btn-primary" href="#/chat">Message</a>
						<a class="btn btn-xs btn-default" href="#">View Profile</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="col-xs-12 text-center">
		<button class="btn btn-hg btn-wide btn-primary-outline">Message Anyone</button>
	</div>
</div>