
<div ng-include src="'views/trying.html'" ng-show="waitingForMentor"></div>

<div class="container-fluid" ng-hide="waitingForMentor">
    <div id="chat-box" class="container">
        <div class="head">
            <div class="pull-left" ng-show="name"><b><em>{{ name }}</em></b> <span ng-show="isVolunteer" style="font-size: 0.7em">&nbsp;&nbsp;[volunteer]</span></div>
            <div class="pull-right text-success">&middot; online</div>
        </div>
        <hr/>
        <ul class="messages list-unstyled">
            <li class="message appeared" ng-repeat="msg in historicalChats" ng-class="{'left': msg.name == name, 'right' : msg.name !=name, 'new-chat': msg.simple }">
                <span ng-if="!msg.simple">
                    <div class="avatar"><div class="avatar-string">{{msg.name}}</div></div>
                    <div class="text_wrapper">
                        <div class="text">{{ msg.message }}</div>
                    </div>
                </span>
                <span ng-if="msg.simple">
                    <span ng-if="msg.disconnected">
                     - <b>{{ msg.message }}</b> just left the conversation -
                    </span>
                    <span ng-if="!msg.disconnected">
                    - Welcome! You are now connected to <b>{{ msg.message }}</b> -
                    </span>
                <span>
            </li>
        </ul>
    </div>
    <div class="container row">
        <form action="javascript:void(0);">
            <div class="col-xs-9">
                <input ng-model="message" class="form-control message_input" placeholder="Type your message here..." />
            </div>
            <div class="col-xs-3">
                <input type="submit" ng-submit="submitMessage()" ng-click="submitMessage()" class="btn btn-primary btn-block" value="Send" />
            </div>
        </form>
    </div>
</div>
