<div class="container-fluid">
	<div class="jumbotron">
		<h3>Who do you want to talk with?</h3>
		   <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary btn-wide dropdown-toggle" type="button">Choose<span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#/mentors-online">Parent of a gay child</a></li>
              <li><a href="#/mentors-online">Parent of a trans child</a></li>
              <li><a href="#/chat">An LGBTQ person</a></li>
            </ul>
          </div><!-- /btn-group -->
		<a type="button" href="#/no_one" class="btn btn-default btn-lg btn-wide">Anyone</a>
	</div>
</div>
