<div class="container-fluid">
	<div class="container">
		
			<h1>Who do you want to talk with?</h1>      
			 <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Categories<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Parents</a></li>
                <li><a href="#">Teeneger</a></li>
                <li class="divider"></li>
                <li><a href="#">Adult</a></li>
            </ul>
        </div>
	<br><br><br>
				<button type="button" class="btn btn-default btn-lg">Anyone</button>
  </div>
	</div> 
</div>