<div class="container-fluid">
<div class="row">
	<div class="row">
		<div class="col-md-2">
			 <a href="#" class="btn" type="button" style="float: right;">Helpee List</a>
		</div>
		<div class="col-md-8">
		</div>
		<div class="col-md-2">
			 <a href="#" class="btn" type="button">Staff List</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-11">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							Tag
						</th>
						<th>
							Message
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Broadcast
						</td>
						<td>
							Message #1 Subject
						</td>
					</tr>
					<tr class="active">
						<td>
							
						</td>
						<td>
							Message #2 Subject
						</td>
					</tr>
					<tr class="success">
						<td>
							Personal
						</td>
						<td>
							Message #3 Subject
						</td>
				
					</tr>
					<tr >
						<td>
							Broadcast
						</td>
						<td>
							Message #4 Subject
						</td>
						
					</tr>
					<tr class="success">
						<td>
							Personal
						</td>
						<td>
							Message #5 Subject
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
</div>