<div class="container-fluid">
<div class="row">
	<div class="row">
		<div class="col-md-2">
			 <a href="#" class="btn" type="button" style="float: right;">Helpee List</a>
		</div>
		<div class="col-md-8">
		</div>
		<div class="col-md-2">
			 <a href="#" class="btn" type="button">Staff List</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-11">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							Sent at
						</th>
						<th>
							Email
						</th>
						<th>
							Phone
						</th>
						<th>
							Message
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="msg in messages">
						<td><b ng-if="msg.isNew">{{msg.dateSent | date: 'short'}}</b></td>
						<td><b ng-if="msg.isNew">{{msg.email}}</b></td>
						<td><b ng-if="msg.isNew">{{msg.phone}}</b></td>
						<td><b ng-if="msg.isNew">{{msg.message}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
</div>