<div class="container-fluid">
	<div class="container-fluid">
	<div class="jumbotron">
		<h3>Sorry, no one is available right now</h3>      
		<p class="text-danger">Our schedule time is from 9:00 am to 9:00pm</p>
		<div class="row">
			<a type="button" ng-href="#/message" class="btn btn-primary btn-large"><i class="fui-mail"></i> Message</a>
			<a type="button" ng-href="#/" class="btn btn-primary-outline btn-large">I'll come back later</a>
		</div>
		<div class="row">
				<div class="text-center" style="margin-top: 20px;">
					<button ng-click="callToTwilio()" type="call" class="btn btn-primary btn-wide">Get a call later</button>
					<p>You will receive a phone call from our volunteers at the number you've entered</p>
				</div>
			</div>
	</div>
	</div>
</div>