<div class="container-fluid">
	<div class="container-fluid">
	<div class="jumbotron">
		<h3>Sorry, no one is available right now</h3>      
		<p class="text-danger">Our schedule time is from 9:00 am to 9:00pm</p>
  
		<div class="row">
				<div class="col-sm-6">
				<button type="button" class="btn btn-primary btn-large">Message</button>
				</div>
				
				<div class="col-sm-6">
				<button type="button" class="btn btn-primary btn-large">No, thank you. <br>I'll come back later</button>
				</div>
		</div>
   </div>
   </div>
</div>