<div class="container-fluid">
	<div class="container-fluid">
	<div class="jumbotron">
		<h3>Sorry, Doe is not available right now</h3>      
	
		<div class="row">
				<div class="col-sm-6">
				<button type="button" class="btn btn-primary btn-large" >Message</button>
				</div>
				
				<div class="col-sm-6" >
				<button type="button" class="btn btn-primary btn-large" >No, thank you.<br> I'll come back later</button>
				</div>
		</div><br>
				<div class="col-sm-12" >
				<button type="button" class="btn btn-primary btn-large" >Choose Anyone</button>
				</div>
   </div>
   </div>
</div>